{% extends 'layout.njk' %}

{% set page_title = "En Construcción | Flexilog"%}}}
{% set page_description = ""%}}}

{% block header %}
    {% import 'macros/nav-macro.njk' as nav %}
    {{nav.active('home')}}
{% endblock %}

{% block content %}
    <section class="pt-0 h-100">
            <div class="w-screen ">
                <div class="flex flex-col-reverse container pt-20 px-4 lg:mx-auto lg:max-w-5xl lg:pt-10 md:flex md:flex-col lg:flex-row lg:h-screen items-center justify-center">
                    <div class=" lg:w-5/12">
                        <h2 class="encabezados lg:pt-16 text-left"><span class="font-light">En</span> Construccion</h2>
                        <p class="text-left lg:-mt-8 mb-4 text-indigo-300">Te pedimos disculpas por el retraso. Como toda construcción, está llevando tiempo. Pero tené paciencia que pronto estaremos con vos.</p>
                        <a href="soluciones.html" class="button" onclick="goBack()">Volver</a>
                    </div>
                   
                    <img src="img/underconstruction.png" alt="">
                </div>
            </div>
            
        </section>
{% endblock content %}