{% extends 'layout.njk' %}

{% set page_title = "Nosotros | Flexilog"%}}}
{% set page_description = ""%}}}

{% block header %}
    {% import 'macros/nav-macro.njk' as nav %}
    {{nav.active('nosotros')}}
{% endblock %}

{% block content %}
     <!-- Top  -->
        <section class="mt-0 py-0">
            <!-- Top Banner -->
                <div class="h-80 w-auto flex items-end md:items-center bg-center bg-cover bg-no-repeat md:h-128"
                    style="background-image: url('img/banner_nosotros.jpg');">
                    <div class="w-full md:max-w-5xl md:mx-auto">
                        <h1 class="text-white md:w-2/4 px-3 pb-10 md:pb-0 text-2xl font-medium leading-tight md:text-3xl">
                            Somos una empresa nacional dedicada a satisfacer las necesidades del mercado local a través de Soluciones Logísticas Integrales a medida.
                        </h1>
                    </div>
                </div>
            <!-- Fin Top Banner -->

            <!-- Cards -->
            <div class="px-2 bg-white lg:pt-16">
                <div class="flex flex-col lg:flex-row py-8 px-1 md:max-w-5xl md:mx-auto md:-mt-10 ">
                    <div class="text-center mx-auto flex flex-col justify-center items-center w-full mb-2 lg:w-3/12 lg:items-end lg:justify-start">
                        <img src="img/nosotros_00.png" alt="">
                        <h4 class="font-medium text-center text-indigo-500 mb-3 text-2xl ">Con 70 años</h4>
                        <p class="leading-tight font-body text-indigo-500 text-center text-sm md:text-base lg:text-right">De experiencia, somos líderes en Logística y Distribución en el mercado Farmacéutico.</p>
                    </div>
                    <div class="flex flex-wrap justify-around lg:w-8/12">
                            <div class="item bg-white my-2 w-40 h-56 md:w-48 md:h-56 md:mx-3 lg:h-56 flex flex-col items-center justify-start p-2 shadow">
                                    <img class="h-16 w-auto mb-1 md:h-16 md:w-auto md:mb-2" src="img/nosotros_01.png" alt="">
                                    <div>
                                        <h4 class="leading-none text-indigo-500 text-center mb-2 text-base font-medium md:text-lg md:mb-2"> + de
                                            1.200 </h4>
                                        <p class="leading-tight font-body text-indigo-500 text-center text-sm"> colaboradores</p>
                                    </div>
                                </div>
                                <div class="item bg-white my-2 w-40 h-56 md:w-48 md:h-56 md:mx-3 lg:h-56 flex flex-col items-center justify-start p-2 shadow">
                                    <img class="h-16 w-auto mb-1 md:h-16 md:w-auto md:mb-2" src="img/nosotros_02.png" alt="">
                                    <div>
                                        <h4 class="leading-none text-indigo-500 text-center mb-2 text-base font-medium md:text-lg md:mb-2"> + de
                                            8.000 </h4>
                                        <p class="leading-tight font-body text-indigo-500 text-center text-sm"> Puntos de entrega con cobertura nacional</p>
                                    </div>
                                </div>
                                <div class="item bg-white my-2 w-40 h-56 md:w-48 md:h-56 md:mx-3 lg:h-56 flex flex-col items-center justify-start p-2 shadow">
                                    <img class="h-16 w-auto mb-1 md:h-16 md:w-auto md:mb-2" src="img/nosotros_03.png" alt="">
                                    <div>
                                        <h4 class="leading-none text-indigo-500 text-center mb-2 text-base font-medium md:text-lg md:mb-2">Capacidad de entrega Multicanal: </h4>
                                        <p class="leading-tight font-body text-indigo-500 text-center text-sm">Droguerías, Distribuidores, Retails, Farmacias, APMs, Domicilios.</p>
                                    </div>
                                </div>
                                <div class="item bg-white my-2 w-40 h-56 md:w-48 md:h-56 md:mx-3 lg:h-56 flex flex-col items-center justify-start p-2 shadow">
                                    <img class="h-16 w-auto mb-1 md:h-16 md:w-auto md:mb-2" src="img/nosotros_04.png" alt="">
                                    <div>
                                        <h4 class="leading-none text-indigo-500 text-center mb-2 text-base font-medium md:text-lg md:mb-2"> + de
                                            16.000 </h4>
                                        <p class="leading-tight font-body text-indigo-500 text-center text-sm"> Entregas diarias
                                        </p>
                                    </div>
                                </div>
                                <div class="item bg-white my-2 w-40 h-56 md:w-48 md:h-56 md:mx-3 lg:h-56 flex flex-col items-center justify-start p-2 shadow">
                                    <img class="h-16 w-auto mb-1 md:h-16 md:w-auto md:mb-2" src="img/nosotros_05.png" alt="">
                                    <div>
                                        <h4 class="leading-none text-indigo-500 text-center mb-2 text-base font-medium md:text-lg md:mb-2"> + de
                                            20.000 </h4>
                                        <p class="leading-tight font-body text-indigo-500 text-center text-sm"> SKUs diferentes manipulados en nuestros depósitos
                                        </p>
                                    </div>
                                </div>
                                <div class="item bg-white my-2 w-40 h-56 md:w-48 md:h-56 md:mx-3 lg:h-56 flex flex-col items-center justify-start p-2 shadow">
                                    <img class="h-16 w-auto mb-1 md:h-16 md:w-auto md:mb-2" src="img/nosotros_06.png" alt="">
                                    <div>
                                        <h4 class="leading-none text-indigo-500 text-center mb-2 text-base font-medium md:text-lg md:mb-2"> + de
                                            18 millones </h4>
                                        <p class="leading-tight font-body text-indigo-500 text-center text-sm">De unidades mensuales distribuidas en todo el país.</p>
                                    </div>
                                </div>
                    </div>

                </div>


            </div>
            <!-- Fin Cards -->

        </section>
        <!-- Fin Top  -->

        <section class="relative h-96 flex items-center justify-center pt-0 mt-0">
            <div class="absolute right-0 top-0 h-48 w-40 overflow-x-hidden lg:w-3/12">
                <img class="h-full w-full object-none object-left" src="img/misc_01.png" alt="">
            </div>
            <div class="absolute inset-x-0 mx-auto bg-indigo-400 h-72 w-screen absolute top-1/2 "
                style="transform: translateY(-50%);opacity: .9;">
            </div>
            <h3 class="z-10 text-center text-white font-medium w-88 text-xl leading-tight md:w-8/12 md:mx-auto lg:text-3xl">Brindamos servicios de warehousing y distribución.</h3>
            <div class="absolute left-0 bottom-0 h-32 w-32 overflow-x-hidden lg:w-2/12">
                <img class="h-full w-full object-fill object-right lg:object-none" src="img/misc_02.png" alt="">
            </div>

        </section>
        
        <!-- Certificaciones -->
        <section class="mt-0 lg:pb-12">
            <div class="lg:max-w-5xl lg:mx-auto">
                    <h4 class="text-gray-300 text-left text-2xl pl-2 text-center" >Certificaciones</h4>
                    <div class="flex flex-wrap justify-center lg:flex-no-wrap lg:mt-4 certificaciones">                        
                        <div class="w-1/3 my-3 lg:w-2/12 ">
                            <div class="flex flex-col justify-between items-center h-32"><img src="img/logo_anmat.png" alt=""><p class="text-sm text-center text-indigo-300"> Certificado de <br>ANMAT</p></div>
                        </div>
                        <div class="w-1/3 my-3 lg:w-2/12 flex justify-center items-center">
                            <div class="flex flex-col justify-between items-center h-32"><img src="img/logo_buenaspracticas.png" alt=""><p class="text-sm text-center text-indigo-300">  Certificado de <br>Buenas Prácticas</p></div>
                        </div>                        
                    </div>
            </div>
            
        </section>
        <!-- Fin Certificaciones -->

{% endblock content %}