{% extends 'layout.njk' %}

{% set page_title = "Políticas de Calidad | Flexilog"%}}}
{% set page_description = ""%}}}

{% block header %}
    {% import 'macros/nav-macro.njk' as nav %}
    {{nav.active('home')}}
{% endblock %}

{% block content %}
     <section class="pt-0">
            <div class="container pt-20 px-4 lg:mx-auto lg:max-w-5xl lg:pt-10 mb-10">
                <h4 class="font-bold text-left text-pink-500 text-3xl md:text-5xl mb-4">Políticas y Objetivos de Calidad</h4>
                <h5 class="text-base leading-normal text-gray-400 ">Versión 2.0</h5>
                <h5 class="text-base leading-normal text-gray-400 ">Vigencia: 27/05/20</h5>
                <p class="text-base leading-normal text-gray-400 ">Revisión: 27/05/22</p>
                <span></span>
            </div>
            <div class="container lg:max-w-5xl lg:mx-auto">
                <p class="text-indigo-500 mb-4">Nuestra meta es, no solo el éxito a corto plazo, sino una relación comercial duradera con nuestros clientes y partes relacionadas.</p>
                <p class="text-indigo-500 mb-4">Es nuestra política comercializar servicios logísticos de alta calidad para especialidades medicinales y mercaderías en general conforme a las condiciones de conservación definidas por el fabricante en el mercado local, con la finalidad de cumplir o superar las expectativas de nuestros clientes, alcanzando una rentabilidad acorde a lo esperado por la Dirección de la Empresa.</p>
                <p class="text-indigo-500 mb-4">Nos orientamos a liderar los mercados definidos por la compañía, bajo el cumplimiento de las regulaciones legales y éticas vigentes en nuestro país.</p>
                <p class="text-indigo-500 mb-4">Nos consideramos obligados a tratar con respeto y cuidado nuestro medio ambiente y es así como los expresamos en nuestros Compromisos Ambientales.</p>
                <p class="text-indigo-500 mb-4">Estamos convencidos de que el único camino para alcanzar esta meta es a través de un Sistema de Calidad efectivo y eficiente, planeado y desarrollado desde la Dirección, y que impulsando el talento y el espíritu emprendedor de nuestros colaboradores lograremos el mejoramiento continuo de nuestros productos, procesos y servicios.</p>
                <h4 class="text-indigo-500 my-4 text-lg"><strong>OBJETIVOS DE CALIDAD </strong></h4>
                <ol class="mb-8 list-disc pl-8">
                    <li class=" text-indigo-500 mb-2">Sostener de forma permanente el SGC a través de la mejora continua en procesos.</li>
                    <li class="text-indigo-500 mb-2">Garantizar la calidad del servicio a través de la estandarización y control de los procesos.</li>
                    <li class="text-indigo-500 mb-2">Incrementar el nivel de satisfacción del cliente mediante la prestación de un excelente servicio, asesoría técnica y cumplimiento en la entrega.</li>
                    <li class="text-indigo-500 mb-2">Actualizar permanentemente al personal, para mejorar el desempeño en sus funciones.</li>
                </ol>
                <p class="font-bold text-lg text-indigo-400 text-right"> Diego González</p>
                <p class="text-base leading-normal text-indigo-400 text-right font-bold"> Dirección</p>
            </div>


        </section>
{% endblock content %}