{% extends 'layout.njk' %}

{% set page_title = "Políticas de Calidad | Flexilog"%}}}
{% set page_description = ""%}}}

{% block header %}
    {% import 'macros/nav-macro.njk' as nav %}
    {{nav.active('home')}}
{% endblock %}

{% block content %}
     <section class="pt-0">
            <div class="container pt-20 px-4 lg:mx-auto lg:max-w-5xl lg:pt-10 mb-10">
                <h2 class="encabezados lg:pt-16 text-left">Políticas y Objetivos de Calidad</h2>
                <h5 class="text-base leading-normal text-indigo-200 ">Versión 1.0</h5>
                <h5 class="text-base leading-normal text-indigo-200 ">Vigencia: 12/07/19</h5>
                <p class="text-base leading-normal text-indigo-200 ">
                    Revisión: 12/07/21
                </p>
                <span></span>
            </div>
            <div class="container lg:max-w-5xl lg:mx-auto">
                <p class="text-indigo-500 mb-4">Nuestra meta es, no solo el &eacute;xito a corto plazo, sino una relaci&oacute;n comercial duradera
                    con nuestros clientes y partes relacionadas.</p>
                <p class="text-indigo-500 mb-4">Es nuestra pol&iacute;tica comercializar servicios log&iacute;sticos de alta calidad para
                    especialidades medicinales y mercader&iacute;as en general conforme a las condiciones de
                    conservaci&oacute;n definidas por el fabricante en el mercado local, con la finalidad de cumplir o
                    superar las expectativas de nuestros clientes, alcanzando una rentabilidad acorde a lo esperado por
                    la Direcci&oacute;n de la Empresa.</p>
                <p class="text-indigo-500 mb-4">Nos orientamos a liderar los mercados definidos por la compa&ntilde;&iacute;a, bajo el cumplimiento
                    de las regulaciones legales y &eacute;ticas vigentes en nuestro pa&iacute;s.</p>
                <p class="text-indigo-500 mb-4">Nos consideramos obligados a tratar con respeto y cuidado nuestro medio ambiente y es as&iacute; como
                    los expresamos en nuestros Compromisos Ambientales.</p>
                <p class="text-indigo-500 mb-4">Estamos convencidos de que el &uacute;nico camino para alcanzar esta meta es a trav&eacute;s de un
                    Sistema de Calidad efectivo y eficiente, planeado y desarrollado desde la Direcci&oacute;n, y que
                    impulsando el talento y el esp&iacute;ritu emprendedor de nuestros colaboradores lograremos el
                    mejoramiento continuo de nuestros productos, procesos y servicios.</p>
                <h4 class="text-indigo-500 m-4 text-center"><strong>OBJETIVOS DE CALIDAD </strong></h4>
                <ol class="mb-8 list-disc pl-8">
                    <li class=" text-indigo-500 mb-2">Implementar y mantener un SGC en permanente mejora.</li>
                    <li class="text-indigo-500 mb-2">Garantizar la calidad del servicio a trav&eacute;s de la estandarizaci&oacute;n y control de los
                        procesos.</li>
                    <li class="text-indigo-500 mb-2">Incrementar el nivel de satisfacci&oacute;n del cliente mediante la prestaci&oacute;n de un
                        excelente servicio, asesor&iacute;a t&eacute;cnica y cumplimiento en la entrega.</li>
                    <li class="text-indigo-500 mb-2">Actualizar permanentemente al personal, para mejorar el desempe&ntilde;o en sus funciones.</li>
                </ol>
                <p class="font-medium text-lg text-indigo-400 text-right"> Diego González</p>
                <p class="text-base leading-normal text-indigo-400 text-right"> Dirección</p>
            </div>


        </section>
{% endblock content %}