{% extends 'layout.njk' %}

{% set page_title = "Soluciones | Flexilog"%}}}
{% set page_description = ""%}}}

{% block header %}
    {% import 'macros/nav-macro.njk' as nav %}
    {{nav.active('soluciones')}}
{% endblock %}

{% block content %}
    <!-- top -->
    <section class="pt-0">

        <div class="container pt-20 px-4 lg:mx-auto lg:max-w-5xl lg:pt-10">
            <h2 class="encabezados lg:pt-16 text-left">Soluciones</h2>
        </div>

        <div class="container relative">
            <div class="w-80  mx-auto z-10 md:w-auto xl:w-10/12 z-10 pb-20 ">
                
                <div class="bg-white shadow overflow-y-hidden lg:w-10/12 lg:mx-auto lg:p-4 z-20">
                    <ul class="px-3  py-3 flex flex-col md:flex-wrap md:h-96 ">
                        <li class="list-disc list-inside text-indigo-400 mx-1 my-2 md:w-6/12 lg:w-5/12 lg:left-auto">
                            <span class="text-gray-300">Recepción de productos a granel o palletizados.</span>
                        </li>
                        <li class="list-disc list-inside text-indigo-400 mx-1 my-2 md:w-6/12 lg:w-5/12">
                            <span class="text-gray-300">Desconsolidación de contenedores.</span>
                        </li>
                        <li class="list-disc list-inside text-indigo-400 mx-1 my-2 md:w-6/12 lg:w-5/12">
                            <span class="text-gray-300">Almacenamiento de productos a temperatura ambiente, con temperatura controlada y refrigerados.</span>
                        </li>
                        <li class="list-disc list-inside text-indigo-400 mx-1 my-2 md:w-6/12 lg:w-5/12">
                            <span class="text-gray-300">Preparación de pedidos.</span>
                        </li>
                        <li class="list-disc list-inside text-indigo-400 mx-1 my-2 md:w-6/12 lg:w-5/12">
                            <span class="text-gray-300">Distribución multicanal a nivel nacional.</span>
                        </li>
                        <li class="list-disc list-inside text-indigo-400 mx-1 my-2 md:w-6/12 lg:w-5/12">
                            <span class="text-gray-300">Logística inversa.</span>
                        </li>
                        <li class="list-disc list-inside text-indigo-400 mx-1 my-2 md:w-6/12 lg:w-5/12">
                            <span class="text-gray-300">Operaciones in-house.</span>
                        </li>
                        <li class="list-disc list-inside text-indigo-400 mx-1 my-2 md:w-6/12 lg:w-5/12">
                            <span class="text-gray-300">Tracking y visibilidad de pedidos.</span>
                        </li>
                        <li class="list-disc list-inside text-indigo-400 mx-1 my-2 md:w-6/12 lg:w-5/12">
                            <span class="text-gray-300">In-bound: retiro de mercadería desde puertos, zonas franca y puntos solicitados.</span>
                        </li>
                        <li class="list-disc list-inside text-indigo-400 mx-1 my-2 md:w-6/12 lg:w-5/12">
                            <span class="text-gray-300">Otros servicios: acondicionamiento secundario, picking, packing, etiquetado, estampillado fiscal, rearmado de cajas.</span>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="absolute right-0 bottom-0 h-48 w-40 overflow-x-hidden lg:w-3/12 z-0 opacity-50" style="z-index:-1">
                <img class="h-full w-full object-none object-left" src="img/misc_01.png" alt="">
            </div>
            <div class="absolute h-32 w-32 overflow-x-hidden lg:w-2/12 z-0 opacity-50 mancha-left left-0" style="z-index:-1;top:-24px;">
                <img class="h-full w-full object-fill object-right lg:object-none" src="img/misc_02.png" alt="">
            </div>

        </div>

        <div class="bg-indigo-500 h-72 relative lg:w-screen">
            <ul class="mx-auto w-1/2 pt-4 md:flex md:flex-row md:w-5/6 md:justify-center md:pt-20 lg:pt-10">

                <li class="flex items-center justify-center my-6 md:mx-4 wow fadeInUp" data-wow-offset="50" data-wow-duration="0.6s" data-wow-delay="0.3s">
                    <div class="text-white lg:mx-2">
                        <h4 class="text-center font-medium text-2xl leading-none mb-1 lg:text-4xl lg:mb-2">1.200</h4>
                        <h6 class="text-center text-base leading-none lg:text-xl">Empleados</h6>
                    </div>
                    <img class="ml-2" src="img/arrow_up.png" alt="">
                </li>
                <li class="flex items-center justify-center my-6 md:mx-4 wow fadeInUp" data-wow-offset="50" data-wow-duration="0.6s" data-wow-delay="0">
                    <div class="text-white lg:mx-2">
                        <h4 class="text-center font-medium text-2xl leading-none mb-1 lg:text-4xl lg:mb-2">16.000</h4>
                        <h6 class="text-center text-base leading-none lg:text-xl">Entregas Diarias</h6>
                    </div>
                    <img class="ml-2" src="img/arrow_up.png" alt="">
                </li>
                <li class="flex items-center justify-center my-6 md:mx-4 wow fadeInUp" data-wow-offset="50" data-wow-duration="0.6s" data-wow-delay="0.6s">
                    <div class="text-white lg:mx-2">
                        <h4 class="text-center font-medium text-2xl leading-none mb-1 lg:text-4xl lg:mb-2">35.000.000</h4>
                        <h6 class="text-center text-base leading-none lg:text-xl">KM/Año recorridos</h6>
                    </div>
                    <img class="ml-2" src="img/arrow_up.png" alt="">
                </li>
            </ul>
            <picture>
                <source srcset="img/charts_big.png" media="(min-width: 768px)">
                <source srcset="img/charts.png">
                <img class="absolute bottom-0 -mb-3 lg:right-0 lg:-mb-5" srcset="img/charts.png" alt="My default image">
            </picture>
            <!-- <img class="absolute bottom-0 -mb-3" src="img/charts.png" alt=""> -->
        </div>
    </section>

    <section class="relative flex flex-col items-center lg:py-16 lg:flex-row-reverse">
        <div class="bg-no-repeat bg-auto bg-bottom w-screen h-88 bg-indigo-700 md:bg-cover md:bg-scroll md:bg-right-top md:bg-center lg:w-1/2 lg:h-128" style="background-image: url('img/tecnologia.jpg');"></div>
        <div class="container lg:mx-auto lg:right-0 lg:left-0 lg:absolute lg:top-1/2 lg:max-w-5xl translateY-50">
            <div class="-mt-12 w-80 bg-white right-0 shadow md:w-10/12 lg:w-8/12 lg:mt-0 lg:shadow-md p-4 wow fadeInLeft" data-wow-offset="50" data-wow-duration="0.8s" data-wow-delay="0.2s">
                <h3 class="text-indigo-500 font-medium text-2xl mb-3">Tecnología</h3>
                <p class="text-indigo-700 leading-tight text-base">Somos líderes en tecnología aplicada gracias a la inversión permanente. Tenemos know-how en operaciones y gestión de nuevos proyectos. Logramos alianzas estratégicas con proveedores nacionales e internacionales para brindar eficiencia y performance con alto nivel de servicio.</p>
                <ul class="flex flex-wrap mt-6 justify-end">
                    <li class="w-2/4">
                        <img class="max-w-full my-3 px-1" src="img/tecno_00.png" alt="">
                    </li>
                    <li class="w-1/4">
                        <img class="max-w-full my-3 px-1" src="img/tecno_01.png" alt="">
                    </li>
                    <li class="w-1/4">
                        <img class="max-w-full my-3 px-1" src="img/tecno_02.png" alt="">
                    </li>
                    <li class="w-1/4">
                        <img class="max-w-full my-3 px-1" src="img/tecno_03.png" alt="">
                    </li>
                    <li class="w-1/4">
                        <img class="max-w-full my-3 px-1" src="img/tecno_04.png" alt="">
                    </li>
                    <li class="w-1/4">
                        <img class="max-w-full my-3 px-1" src="img/tecno_05.png" alt="">
                    </li>
                    <li class="w-1/4">
                        <img class="max-w-full my-3 px-1" src="img/tecno_06.png" alt="">
                    </li>
                    <li class="w-1/4">
                        <img class="max-w-full my-3 px-1" src="img/tecno_07.png" alt="">
                    </li>
                    <li class="w-1/4">
                        <img class="max-w-full my-3 px-1" src="img/tecno_08.png" alt="">
                    </li>
                    <li class="w-1/4">
                        <img class="max-w-full my-3 px-1" src="img/tecno_09.png" alt="">
                    </li>
                </ul>
            </div>
        </div>

    </section>

{% endblock content %}