main {
  transition: 0.45s;
  opacity: 1;
}

.nav-drill {
  transform: translateX(100%);
  transition: 0.45s;
  height: 100vh;
  margin-top: 3.5rem;
}

.nav-is-toggled main {
  opacity: .7;
}

.nav-is-toggled .nav-drill {
  transform: translateX(0);
  color: rgba(202, 211, 243, 0.25);
}

/* ============== TABS ============= */
/* tab setting */
/* breakpoints */
/* selectors relative to radio inputs */
.tabs input[name="tab-control"] {
  display: none;
}

.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.tabs ul li {
  box-sizing: border-box;
  width: 33.33333%;
  text-align: center;
}

.tabs ul li label {
  transition: all 0.3s ease-in-out;
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
}

.tabs ul li label br {
  display: none;
}

.tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
  outline: 0;
}

.tabs .slider {
  position: relative;
  width: 33.33333%;
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}

.tabs .slider .indicator {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  height: 2px;
  background: #233B96;
  border-radius: 1px;
}

.tabs .content {
  margin-top: 30px;
}

.tabs .content article {
  display: none;
  animation-name: content;
  animation-direction: normal;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  line-height: 1.4;
}

.tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
  cursor: default;
  color: #233B96;
}

.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
  transform: translateX(0%);
}

.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .content > article:nth-child(1) {
  display: flex;
}

.tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
  cursor: default;
  color: #233B96;
}

.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
  transform: translateX(100%);
}

.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .content > article:nth-child(2) {
  display: flex;
}

.tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
  cursor: default;
  color: #233B96;
}

.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
  transform: translateX(200%);
}

.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .content > article:nth-child(3) {
  display: flex;
}

@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (max-width: 750px) {
  .tabs ul li label {
    white-space: initial;
  }
}

@media (max-width: 450px) {
  .tabs ul li label {
    padding: 5px;
    border-radius: 5px;
  }
  .tabs .content {
    margin-top: 20px;
  }
}

header ul {
  display: none;
}

#marcas div:first-of-type {
  display: flex;
  flex-wrap: nowrap;
}

#marcas div:first-of-type > div {
  float: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

#marcas div:first-of-type > div img {
  max-height: 56px;
  filter: opacity(0.8);
}

.certificaciones a {
  min-height: 133px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#file_cv {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label[for="file_cv"] {
  display: inline-block;
  transition: all .5s;
  cursor: pointer;
  width: fit-content;
  text-align: center;
  position: relative;
  padding-left: 48px;
}

label[for="file_cv"]:before {
  content: '';
  background-image: url(../img/clips.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
  }
}

@media (min-width: 1024px) {
  header ul {
    display: flex;
    align-items: center;
  }
  #marcas div:first-of-type > div img {
    max-height: 100px;
  }
  .mancha-left {
    left: 72px !important;
  }
}

/*=============== ANIMATIONS ================*/
