@font-face {
    font-family: 'AlleynW01';
    src: url('AlleynW01-Regular.woff2') format('woff2'),
        url('AlleynW01-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlleynW01-Book';
    src: url('AlleynW01-Book.woff2') format('woff2'),
        url('AlleynW01-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlleynW01';
    src: url('AlleynW01-Medium.woff2') format('woff2'),
        url('AlleynW01-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AlleynW01';
    src: url('AlleynW01-Bold.woff2') format('woff2'),
        url('AlleynW01-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

